<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <h2>Enter keywords below to search NYTM.org Hiring Companies:</h2>
		<form class="form-horizontal" role="form" action="/search" method="post">
		  <div class="form-group">
		    <label class="control-label col-sm-2" for="keywords">Keywords</label>
		    <div class="col-sm-7">
		      <input type="text" class="form-control" name="keywords" placeholder="Designer Developer Sales Marketing">
		    </div>
		  </div>
		    <div class="form-group"> 
   			 <div class="col-sm-offset-2 col-sm-7">
    		  <button type="submit" class="btn btn-default">Submit</button>
    		 </div>
 			</div>
		</form>
    </div>
  </body>
</html>
