<!DOCTYPE HTML>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <title><%= @keywords_regex %></title>
  <link rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
</head>
<body>
  <div class="span8">
    <!-- This is table layout is pulled directly from twitter bootstrap -->
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Company website</th>
            <th>Keyword(s) searched: <%= @keywords_regex %></th>
          </tr>
        </thead>
        <tbody>
           <%= useWorkers(@careerlinksverified, @displayjobs) %>
        </tbody>
      </table>
    </div>
</body>
</html>