
  <div class="span8">
    <!-- This is table layout is pulled directly from twitter bootstrap -->
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Company website</th>
            <th>Keyword(s) searched: <%= @keywords_regex %></th>
          </tr>
        </thead>
        <tbody>
        <% @companies_with_openings.each do |site, positions | %>
          <tr>
            <td> 
              <a href="<%= site %>" target ="_blank"><%= site %>
        </a>
            </td>
            <td><%= positions.uniq.flatten.sort.join(" ") %>
          </tr>
         <% end %>
        </tbody>
      </table>
    </div>